*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    font-family: "Barlow Condensed", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


.container {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 20px;
}

.navbar {
    background: #071031;
    padding-block: 12px;
}

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 22px;
    color: #fff;
}

.logo i {
    color: blue;
}

.search{
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-input {
    padding: 13px;
    border-radius: 6px;
    background: #fff;
    color: #000;
    outline: none;
    border: none;
    width: 300px;
}


.cart-icons{
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart-icons i {
    color: #fff;
}


.details-wrapper {
    padding-block: 20px;
}

.back-btn {
    font-size: 18px;
    color: #105bf0;
    margin-bottom: 20px;
    display: inline-block;
}

.back-btn:hover {
    color: #0b50db;
}


/* add to cart */

.addToCart {
    padding-block: 20px;
}

.cart-title {
    font-size: 24px;
    color: #071031;
    margin-bottom: 20px;
}

.addToCart-container {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 16px;
}


.cart-cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 60%;
    width: 100%;
}


.cart-card {
    display: flex;
    gap: 16px;
    /* align-items: center; */
    background: #d7d6d6;
    padding: 16px;
    border-radius: 12px;
}

.card-img {
    max-width: 15%;
    border-radius: 12px;
    object-fit: cover;
    height: 140px;
    width: 100%;
}

.card-text {
    max-width: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}
    
.card-titleText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.card-title {
    font-size: 22px;
    color: #071031;
}

.card-deleteBtn {
    padding: 10px;
    background: #c6c6c6;
    border-radius: 20px;
    color: #071031;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.card-deleteBtn:hover {
    background: #b7b6b6;
}


.card-prices {
    display: flex;
    align-items: center;
    gap: 40px;
}

.card-price {
    font-size: 18px;
    color: #071031;
}

.quantities-btns {
    display: inline-flex;
    gap: 6px;
    align-items: center;
    background: #071031;
    color: #fff;
    justify-content: space-between;
    border-radius: 4px;
    overflow: hidden;
}


.quantity-btn {
    padding: 14px;
    background: none;
    color: #fff;
    border: none;
    cursor: pointer;
}

.quantity-btn:hover {
    background: #08102e;
}

.quantity-number {
    padding-inline: 2px;
}


#total-cart {
    position: absolute;
    top: -6px;
    right: -5px;
    background: #2a68e4;
    color: #fff;
    font-size: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17px;
    width: 17px;
}

.cart-head {
    position: relative;
}

.total-cost {
    max-width: 40%;
    width: 100%;
    background: #d7d6d6;
    border-radius: 12px;
    padding: 16px;
    max-height: 280px;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.cost-title {
    font-size: 18px;
    color: #08102e;
}

.cost-price {
    font-size: 16px;
    color: #0f1839;
}


.checkout-btn {
    padding: 12px 16px;
    border-radius: 6px;
    background: #143d90;
    color: #fff;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    margin-bottom: 16px;
    margin-top: 50px;
    transition: all 0.3s ease;
}

.checkout-btn:hover {
    background: #18449b;
}

.back-btn {
    font-size: 18px;
    color: #105bf0;
    display: inline-block;
}

.back-btn:hover {
    color: #0b50db;
}

.cart-text {
    display: none;
}



@media (max-width: 768px) {
    .addToCart-container {
        flex-wrap: wrap;
    }

    .cart-cards {
        max-width: 100%;
    }

    .total-cost {
        max-width: 100%;
    }
}