*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    font-family: "Barlow Condensed", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


.container {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 20px;
}

.navbar {
    background: #071031;
    padding-block: 12px;
}

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 22px;
    color: #fff;
}

.logo i {
    color: blue;
}

.search{
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-input {
    padding: 13px;
    border-radius: 6px;
    background: #fff;
    color: #000;
    outline: none;
    border: none;
    width: 300px;
}


.cart-icons{
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart-icons i {
    color: #fff;
}


.details-wrapper {
    padding-block: 20px;
}

.back-btn {
    font-size: 18px;
    color: #105bf0;
    margin-bottom: 20px;
    display: inline-block;
}

.back-btn:hover {
    color: #0b50db;
}


.products-infos {
    display: flex;
    gap: 30px;
}

.images-section {
    display: flex;
    gap: 30px;
    max-width: 65%;
    width: 100%;
}

.products-imgs {
    max-width: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.thumbnail-imgs {
    width: 100%;
    height: 130px;
    /* flex: 1; */
    border-radius: 12px;
    cursor: pointer;
    object-fit: cover;
}

.thumbnail-imgActive {
    outline: 2px solid #071031;
}

.details-img {
    max-width: 85%;
    background: #e8e8e9;
    width: 100%;
    border-radius: 12px;
    max-height: 600px;
    padding: 20px;
}

.details-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.details-text {
    max-width: 35%;
    width: 100%;
}

.details-title {
    font-size: 24px;
    margin-bottom: 12px;
    color: #071031;
}

.details-reviews {
    display: flex;
    gap: 6px;
    margin-bottom: 12px;
}


.details-i {
    color: #FFCB56;
}

.details-ReviewNumber {
    font-size: 16px;
    color: #b0b1b1;
}

.products-prices {
    display: flex;
    gap: 6px;
    margin-bottom: 26px;
}

.current-price{
    font-size: 16px;
    color: #071031;
}

.old-price {
    font-size: 16px;
    color: #b0b1b1;
    text-decoration: line-through;
}

.details-stock {
    padding: 12px 16px;
    border-radius: 8px;
    background: #e6ae6a;
    color: #000;
    font-size: 16px;
}

.details-desc {
    margin-top: 32px;
    margin-bottom: 70px;
    font-size: 16px;
    color: #3e3e3e;
}


.details-quanTitle {
    font-size: 18px;
    color: #071031;
    margin-bottom: 12px;
}

.quantities-btns {
    display: inline-flex;
    gap: 6px;
    align-items: center;
    background: #071031;
    color: #fff;
    justify-content: space-between;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 30px;
}


.quantity-btn {
    padding: 14px;
    background: none;
    color: #fff;
    border: none;
    cursor: pointer;
}

.quantity-btn:hover {
    background: #08102e;
}

.quantity-number {
    padding-inline: 2px;
}


.cart-btn {
    padding: 12px 16px;
    border-radius: 6px;
    background: #143d90;
    color: #fff;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    margin-bottom: 16px;
    transition: all 0.3s ease;
}

.cart-btn:hover {
    background: #18449b;
}

.buy-btn {
    padding: 10px 16px;
    border-radius: 6px;
    background: none;
    border: 1.7px solid #143d90;
    color: #143d90;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    transition: all 0.3s ease;
}

.buy-btn:hover {
    background: #709df8;
}


/* services */

.services {
    padding-block: 20px;
}

.services-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 22px;
    border-bottom: 1px solid #e5e6fc;
}

.service {
    display: flex;
    gap: 8px;
    align-items: center;
}

.service-icon {
    background: #e5e6fc;
    color: #000;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 2px;
}


.service-title {
    font-size: 20px;
    color: #08102e;
    margin-bottom: 6px;
}

.service-subTitle {
    font-size: 16px;
    color: #b0b1b1;
}

/* products details */

.details {
    padding-top: 20px;
    padding-bottom: 36px;
}

.prDetails-title {
    font-size: 24px;
    color: #071031;
    margin-bottom: 12px;
}


.prDetails-subTitle {
    font-size: 17px;
    color: #3e3e3e;
    margin-bottom: 16px;
    /* max-width: 800px; */
}

.prDetails-ul {
    padding-left: 24px;
}

.prDetails-featurese {
    font-size: 16px;
    color: #797979;
    margin-bottom: 10px;
    list-style: disc;
}


#total-cart {
    position: absolute;
    top: -6px;
    right: -5px;
    background: #2a68e4;
    color: #fff;
    font-size: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17px;
    width: 17px;
}

.cart-head {
    position: relative;
}


/* responsive design */

@media (max-width: 768px) {
    .products-infos {
        flex-wrap: wrap;
    }

    .images-section {
        max-width: 100%;
        flex-direction: column-reverse;
    }

    .products-imgs {
        max-width: 100%;
        flex-direction: row;
        overflow-x: scroll;
    }

    .details-img {
        max-width: 100%;
    }

    .details-text {
        max-width: 100%;
    }

}