#orders {
    display: flex;
    gap: 16px;
    align-items: center;
}

/* * {
    padding: 16px;
} */


.card {
    background: #000;
    padding: 16px;
    border-radius: 10px;
    max-width: 300px;
    width: 100%;
}

.title {
    font-size: 24px;
    color: #fff;
    margin-bottom: 12px;
}

.quantity {
    font-size: 16px;
    color: #fff;
    margin-bottom: 12px;
}

.status {
    background: #7cd5f3;
    padding: 10px 16px;
    border-radius: 12px;
    color: #000;
    display: inline-block;
}


.orderDate {
    font-size: 16px;
    color: #eceaea;
}